<div class="info-box bg-blue" id="475425" ng-controller="DspFileDetailController">
  <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
  <div class="info-box-content">
    <span class="info-box-text">I131477PL1W (Defiris)</span>
    <span class="info-box-number">VERSION: 0</span>
	<span class="info-box-number">LANGUAGE:PL1</span>
    <span class="info-box-number">ASPECT: 16:9</span>
	<span class="info-box-number">TYPE: EBS</span>

		<span class="info-box-number"></span>
    <!-- The progress section is optional -->
    <div class="progress">
      <div class="progress-bar" style="width: 70%"></div>
    </div>
	
	<span class="progress-description">
		<table cellspacing="10"><tr>
			<td> <span class="label label-success">DONE</span> </td><td>I131477PL1W_PAD=0_EBS_3_170118</td><td>(K2)</td>
		</tr></table>

    </span>
	
	<span class="progress-description">
		<table cellspacing="10"><tr>
			<td> <span class="label label-primary">QUEUE</span> </td><td>I131477PL1W</td><td>(NAUTILUS)</td>
		</tr></table>

    </span>
	
	<span class="progress-description">
		<table cellspacing="10"><tr>
			<td> <span class="label label-primary">QUEUE</span> </td><td>THUMB_I131477PL1W</td><td>(FUGU)</td>
		</tr></table>

    </span>
	
	<span class="progress-description">
		<table cellspacing="10"><tr>
			<td> <span class="label label-primary">QUEUE</span> </td><td>THUMB_I131477PL1W</td><td>(DEFIRIS)</td>
		</tr></table>

    </span>
	
	<span class="progress-description">
		<table cellspacing="10"><tr>
			<td> <span class="label label-primary">QUEUE</span> </td><td>THUMB_M_I131477PL1W</td><td>(FUGU)</td>
		</tr></table>

    </span>
	
	<span class="progress-description">
		<table cellspacing="10"><tr>
			<td> <span class="label label-primary">QUEUE</span> </td><td>THUMB_M_I131477PL1W</td><td>(DEFIRIS)</td>
		</tr></table>

    </span>
	
	<span class="progress-description">
		<table cellspacing="10"><tr>
			<td> <span class="label label-primary">QUEUE</span> </td><td>LR_I131477PL1W</td><td>(FUGU)</td>
		</tr></table>

    </span>
	
	<span class="progress-description">
		<table cellspacing="10"><tr>
			<td> <span class="label label-primary">QUEUE</span> </td><td>LR_I131477PL1W</td><td>(DEFIRIS)</td>
		</tr></table>

    </span>
	
	<span class="progress-description">
		<table cellspacing="10"><tr>
			<td> <span class="label label-primary">QUEUE</span> </td><td>MP3_I131477PL1W</td><td>(FUGU)</td>
		</tr></table>

    </span>
	
	<span class="progress-description">
		<table cellspacing="10"><tr>
			<td> <span class="label label-primary">QUEUE</span> </td><td>MP3_I131477PL1W</td><td>(DEFIRIS)</td>
		</tr></table>

    </span>
	
	<span class="progress-description">
		<table cellspacing="10"><tr>
			<td> <span class="label label-primary">QUEUE</span> </td><td>HD_I131477PL1W</td><td>(FUGU)</td>
		</tr></table>

    </span>
	
	<span class="progress-description">
		<table cellspacing="10"><tr>
			<td> <span class="label label-primary">QUEUE</span> </td><td>HD_I131477PL1W</td><td>(DEFIRIS)</td>
		</tr></table>

    </span>
	
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
